@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

@import "tailwindcss";

@theme {
  --color-black: #1c232b;
  --color-gray: #6c7289;
  --color-cream: #f2eae2;
  --color-green-500: #3d8168;
  --color-green-700: #1a4032;

  --font-fraunces: "Fraunces", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer components {
  .text-preset-1 {
    @apply font-fraunces text-[2rem] leading-8 font-bold tracking-normal;
  }

  .text-preset-2 {
    @apply font-montserrat text-[0.875rem] leading-4 font-bold tracking-normal;
  }

  .text-preset-3 {
    @apply font-montserrat text-[0.875rem] leading-[160%] font-medium tracking-normal;
  }

  .text-preset-4 {
    @apply font-montserrat text-[0.75rem] leading-[120%] font-medium tracking-[5px];
  }

  .text-preset-5 {
    @apply font-montserrat text-[0.8125rem] leading-[120%] font-medium tracking-normal;
  }

  .cart-button {
    @apply flex w-full items-center justify-center gap-2 rounded-lg bg-green-500 pt-4 pr-8 pb-4 pl-8 text-white min-[90rem]:hover:bg-green-700;
  }
}
